/*
Theme Name: Portfolio Press
Description: Portfolio Press is a responsive theme for showcasing your photography, art, web sites, or other projects.  It also works nicely as a regular blog site.  An options panel is included for uploading logos and and changing the layout.  There's also support for the image, gallery and quote post formats.  Visit the <a href="http://themes.wptheming.com/portfolio/">demo site</a> or watch the <a href="http://wptheming.com/portfolio-theme">video screencast</a> for set up instructions.
Author: Devin Price
Author URI: http://wptheming.com/
Theme URI: http://wptheming.com/portfolio-theme/
Version: 1.7
License: GNU General Public License
License URI: license.txt
Tags: white, black, gray, two-columns, left-sidebar, right-sidebar, flexible-width, custom-menu, full-width-template, microformats, post-formats, rtl-language-support, theme-options, translation-ready

Credits:

Portfolio was built on the solid foundation of Toolbox:
http://wordpress.org/extend/themes/toolbox

Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/

*/

body, html  { height: 100%; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }/* remember to define focus styles! */
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }/* tables still need 'cellspacing="0"' in the markup */

/* Floating & Alignment */

.fl {float: left;}
.fr {float: right;}
.clearleft{clear:left;}

/* Base Styles */

body {
	font: 14px/21px 'Roboto Slab', serif;
	background: #000 url(images/background.jpg) repeat-x;
	color: #616161;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111;
	font-weight:normal;
}
h1 {
	font-size:28px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:22px;
}
h4, h5, h6 {
	font-size:20px;
}
p {
	margin:0;
}
hr {
	background-color: #ddd;
	border:0;
	height: 1px;
	margin-bottom: 20px;
}
input[type=text], textarea {
	padding: 5px;
	border-color: #ccc #efefef #efefef #ccc;
	border-width:1px;
	border-style:solid;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
blockquote {
	display:block;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Hyperlinks */

a:link, a:visited {
	color: #34E6B9;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited {
	text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: underline;
}

/* Branding */

#branding {
	position:relative;
	display:block;
	height: 280px;
	max-width: 980px;
	margin: 0 auto;
}
#branding:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#logo {
	float:left;
	max-width: 100%;
}
#logo #site-title {
	color: #fff;
	background: url(images/logo-curva.png);
	width: 294px;
	height: 161px;
	position: absolute;
	top: 62px;
}
#logo #site-title a {
	color:#fff;
	font-size:44px;
	line-height:44px;
	text-decoration:none;
	display: block;	
	text-indent: -9999px;
}
#logo #site-title img {
	max-width:100%;
}
#logo #site-description {
	font-style: italic;
	color:#ddd;
	font-size:16px;
	text-indent: -9999px
}
/* Navigation */

#navigation .menu-toggle {
	display: none;
}

#navigation {
	right: 0;
	font-size:16px;
	position: absolute;
	top: 150px;
}
#navigation ul {
	z-index:99;
	margin:0;
	padding:0;
	list-style:none;
}
#navigation ul a {
	position:relative;
	color:#000;
	display:block;
	z-index:100;
	border-left: 1px solid #000;
	padding-left:20px;
	margin-right: 20px;
	line-height:18px;
	text-decoration:none;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
    -ms-transition: all 0.2s ease-in-out;  /* IE10? */
    -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
    transition: all 0.2s ease-in-out; 
}

#navigation ul a:hover, #navigation ul .current-menu-item a {
	color:#34E6B9;
}

/* hack for contact menu item */
#navigation ul .menu-item-40 {
	margin-top:-9px;
}

#navigation ul .menu-item-40 a {
	background: url(images/ico-mail.png) no-repeat;
	width: 38px;
	height: 26px;
	display: block;
	border:none;
	padding: 0;
	margin-right: 10px
}

#navigation ul .menu-item-40 a:hover{
	background-image: url(images/ico-mail-hover.png);
}

#navigation ul li {
	float:left;
	width: auto;
}
#navigation ul li a.sf-with-ul {
	padding-right:25px;
}

/* Drop-down menus */

#navigation ul ul .current-page-item, #navigation ul ul .current-menu-parent, #navigation ul ul .current-menu-item {
	background:#ccc;
}
#navigation ul li ul {
	background: #FFF;
	position: absolute;
	left: -999em;
	width: 180px;
	border: 1px solid #ccc;
	z-index:999;
	margin-left:0;
}
#navigation ul li ul li {
	background:#eee;
	border-top:1px solid #ddd;
	margin-left:0px;
	margin-bottom:0px;
}
#navigation ul li ul li:first-of-type {
	border-top:none;
}
#navigation ul li ul li a {
	width:160px;
	color:#555;
	font-size:0.9em;
	line-height:18px;
	padding:8px 10px;
}
#navigation ul li ul li a.sf-with-ul {
	padding:8px 10px;
}
#navigation ul li ul li a:hover, #navigation ul ul .current-menu-item {
	background:#ccc;
	color:#111;
}
#navigation ul li ul ul {
	margin: -35px 0 0 180px;
}
#navigation ul ul li:hover, #navigation ul ul li.hover {
	background:#eee;
}
#navigation ul li:hover ul, #navigation ul li.sfhover ul, #navigation ul li li:hover ul, #navigation ul li li.sfhover ul, #navigation ul li li li:hover ul, #navigation ul li li li.sfhover ul, #navigation ul li li li li:hover ul, #navigation ul li li li li.sfhover ul {
	left:auto;
}
#navigation ul .sf-sub-indicator {
	background:	url('images/arrow-down.png') no-repeat;
	position:absolute;
	display:block;
	right:0.4em;
	top:0.9em;
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
}
#navigation li ul .sf-sub-indicator {
	background:url('images/arrow-right.png') no-repeat;
}

.big-horizontal-bar {
	border-top: 1px solid #000;
	border-bottom: 1px dashed #000;
	overflow: hidden;
	height: 5px;
	position: absolute;
	right: 0;
	top: 176px;
	width: 675px;
}

/* Structure */

#main {
	max-width: 980px;
	margin: 0 auto;
}

/* Content */
.bar {
	border-left: 2px solid #1e1e1e;
	height: 32px;
	width:1;
	display: block;
	content: "";
	position: absolute;
	top: 0;	
}

.bar-1 {	
	left: 20px;
}

.bar-2 {
	left: 375px;
}

.bar-3 {
	left: 470px;
}

.bar-4 {
	right: 0;
}

#content {
	padding:0 0 4%;
	float:left;
	position:relative;
	width:65%;
}

/* Sidebar */

#sidebar {
	overflow:hidden;
	float:right;
	width:24%;
}

/* Layouts */

.layout-2cl #content, .layout-2cl #portfolio {
	float:right;
}
.layout-2cl #sidebar {
	float:left;
}

.layout-1col #content {
	width: 670px;
	margin: auto;
	float: none;
	padding:0;
}

/* Footer */

footer {
	clear: both;
	height: 100px;
}
#footer-widgets {
	border-bottom:1px dotted #ddd;
	margin-bottom:20px;
}
#footer-widgets .block {
	padding:0 2% 0 0;
	width:23%;
	float:left;
}
#footer-widgets .footer-widget-4 {
	padding:0;
}
#colophon #site-generator p {
	color:#333;
	font-weight:bold;
	font-size:13px;
}

/* Posts */

#content article {
	display:block;
	clear:both;
	margin-bottom:30px;
}
.entry-meta {
	margin: 0 0 15px 0;
	font-size:12px;
	display:block;
	clear:both;
}
footer.entry-meta:before {
	margin-bottom:8px;
}
footer.entry-meta:after {
	margin-top:8px;
}
footer.entry-meta:before, footer.entry-meta:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #ddd;
	-webkit-box-shadow: 0 1px 0 0 #fff;
	box-shadow: 0 1px 0 0 #fff;
	display: block;
}
.entry-utility {
	clear:both;
}
.sticky {
	/* Theme Review Requirement */
}
.bypostauthor {
	/* Theme Review Requirement */
}

/* Typographic Elements */

#content .entry-title {
	font-size:22px;
	line-height:46px;
	color: #34E6B9;
	padding-bottom:0px;
	margin-bottom:10px;
}
#portfolio .entry-title {
	display: none
}

#content h1, #content h2, #content h3 {
	padding-bottom: 20px;
}
#content h4, #content h5, #content h6 {
	padding-bottom:15px;
}
#content p {
	margin:0 0 7px 0;
}
#content blockquote {
	color: #444;
}
#content blockquote p {
	font-style:italic;
}
.entry-content blockquote {
	font-style: italic;
	padding: 10px 35px 0;
	background: url('images/quote.png') no-repeat 0 0;
}
.entry-content blockquote, .entry-content blockquote p {
	font-size:16px;
}
#content ul {
	margin: 0 0 15px 0;
	padding: 0 0 0 30px;
}
#content ul ul {
	margin: 0;
}
#content ul li {
	list-style-type: circle;
}
#content ul ul li {
	list-style-type: disc;
}
#content ol {
	margin: 0 0 15px 0;
	padding: 0 0 0 30px;
}
#content ol ol {
	margin: 0;
}
#content ol li {
	list-style-type: upper-latin;
}
#content ol li ol li {
	list-style-type: lower-latin;
}
.archive-meta {
	font-size:18px;
	color:#333;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top:-5px;
}
.archive-meta:after, .author .page-title:after, .author-info:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #ddd;
	-webkit-box-shadow: 0 1px 0 0 #fff;
	box-shadow: 0 1px 0 0 #fff;
	display: block;
	margin-top:10px;
}

/* Author Template */

.author-info:after {
	margin-bottom:20px;
}
.author-avatar {
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}
.author-description {
	float:left;
}
#content .author-description h3 {
	padding-bottom:10px;
}

/* Alignment */

.alignleft {
	display: inline;
	float: left;
	margin-right: 10px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 10px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Images */

.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
	background:#fff;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
	max-width: 97.5%;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 15px;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background: #eee;
	background:rgba(200,200,200,.2);
	margin-bottom: 15px;
	max-width: 100%;
	padding: 10px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
.wp-caption .wp-caption-text, .gallery-caption {
	color: #666;
	font-size: 12px;
}
#content .wp-caption .wp-caption-text {
	margin-bottom: 0;
	padding: 10px 0 5px 10px;
	position: relative;
}
#content .gallery {
	margin: 0 auto 15px;
}
#content .gallery a img {
	border: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 15px;
}
#content .gallery-columns-4 .gallery-item {
	width: 23%;
	padding-right: 2%;
}
#content .gallery-columns-4 .gallery-item img {
	width: 100%;
	height: auto;
}

/* Image borders */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img {/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border: 1px solid #ddd;
	padding: 6px;
}
.wp-caption img {
	border-color: #eee;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img {
	background: #eee;
	border-color: #bbb;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
	background: #fff;
	border-color: #ddd;
}
figure {
	margin:0 0 10px 0;
}
.type-portfolio img.wp-post-image {
	margin:0 0 10px 0;
}

/* Make sure videos and embeds fit their containers */

embed, iframe, object {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Post Formats */

#content .hentry:first-of-type, .single .format-quote, .single .format-image {
	padding-top:0;
	border-top: none;
}
.format-image header {
	display:none;
}
.single .format-image header {
	display:block;
}
.format-image .image-wrap {
	position: relative;
}
#content .image-wrap h3 {
	max-width:630px;
	background:#000;
	background:rgba(0,0,0,.6);
	color:#fff;
	padding:10px;
	position:absolute;
	bottom:13px;
	left:6px;
	display: none;
	text-decoration: none;
}
.image-wrap a {
	text-decoration: none;
}

/* Portfolio Posts */

#portfolio {
	padding:0 0 4%;
	float:left;
	width:70%;
}
#portfolio .archive-title {
	font-size: 34px;
	line-height: 48px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 0px;
	margin-bottom: 20px;
}
#portfolio .portfolio-item {
	position:relative;
	width:294px;
	float:left;
	margin:0 40px 40px 0;
}
#portfolio .portfolio-item:nth-of-type(3n) {
	margin-right:0;
}
#portfolio .ie-col3 {
	margin-right:0;
}

#portfolio .portfolio-item img, #portfolio .portfolio-item a.title {
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
    -ms-transition: all 0.2s ease-in-out;  /* IE10? */
    -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
    transition: all 0.2s ease-in-out; 
}
#portfolio .portfolio-item img {
	display:block;
	width:100%;
	height:auto;	
}
#portfolio .portfolio-item:hover img {
	opacity: 0.7
}
#portfolio .thumb {
	display:block;
	width:100%;
}
#portfolio a.title {
	display:block;
	font-weight:bold;
	margin-bottom: 10px
}
#portfolio a.title {
	text-decoration:none;
}
#portfolio .portfolio-item:hover a.title {	
	color:#000;
}

#portfolio .no-thumb a.title {
	display:block;
	position: relative;
}
/* Increase the size of the content area for templates without sidebars */

.full-width #content, #portfolio.full-width {
	width:100%;
	max-width: 980px;
}

/* Pagination / WP-Pagenavi */

/* If you're using PageNavi you should turn the css in its settings page */

.wp-pagenavi {
	clear:both;
	font-size:12px;
	padding:10px 15px;
	border:1px solid #ddd;
	border-width:1px 0 1px;
}
#navigation ul-entries a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover, .wp-pagenavi span.extend, .wp-pagenavi span.pages {
	display: block;
	font:italic 12px/16px Georgia, serif;
	color:#777;
	text-decoration:none;
	padding:0;
}
#navigation ul-entries a:hover {
	text-decoration:underline;
}
.wp-pagenavi a:link, .wp-pagenavi a:visited {
	display: inline;
	text-decoration: none;
	background: #fff;
	background:rgba(255, 255, 255, 0.4);
	color: #666;
	padding: 3px 7px;
	border:1px solid #ddd;
	border:1px solid rgba(0, 0, 0, 0.2);
	margin-left:10px;
}
.wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover {
	display:inline;
	padding: 3px 7px;
	background: #fff;
	background:rgba(0, 0, 0, 0.5);
	border:1px solid #bbb;
	margin-left:10px;
}
.wp-pagenavi span.extend, .wp-pagenavi span.pages {
	display:inline;
	background:none;
	border:none;
	color:#666;
}
#content nav, #portfolio nav {
	clear:both;
	display: block;
	overflow: hidden;
}
#content nav .nav-previous, #portfolio nav .nav-previous {
	float: left;
}
#content nav .nav-next, #portfolio nav .nav-next {
	float: right;
	text-align: right;
}
#nav-below {
	text-shadow: 0px 1px 1px white;
	clear:both;
	font-size:16px;
	margin-bottom:30px;
}
#portfolio #nav-below {
	padding-top:15px;
}
.page-link {
	margin: 0 0 15px 0;
}

/* Reverse order on single-portfolio pages */

.single-portfolio #content nav .nav-previous {
	float: right;
	text-align: right;
}
.single-portfolio #content nav .nav-next {
	float: left;
	text-align: left;
}

/* Widgets */

.widget-container {
	margin: 0 0 30px 0;
	font-size:12px;
}
.widget-container h3 {
	font-size:18px;
	text-shadow: 0px 1px 1px #fff;
	margin: 0 0 20px;
	padding:0 0 10px;
	text-transform:uppercase;
	color:#555;
	border-bottom:3px solid #ddd;
	-webkit-box-shadow: 0 1px 0 0 #fff;
	box-shadow: 0 1px 0 0 #fff;
}
.widget-container p {
	font:12px/20px;
	margin-bottom:15px;
}
.widget-container ul {
	clear:both;
	padding-left:0px;
	list-style:none;
}
.widget-container ul li a {
	padding: 0 0 0 5px;
	line-height: 22px;
	text-decoration: none;
}
.widget-container ul li a:hover {
	text-decoration:underline;
}
.widget-container ul ul {
	padding: 0 0 0 15px;
	border-top: none;
}
#colophon-widgets {
	border-top:1px solid #ddd;
	padding:10px 0;
}
#colophon-widgets .block {
	padding:20px 0 0 20px;
	width:210px;
	float:left;
}
/* Calendar */

#wp-calendar {
	width:95%;
	margin-bottom:15px;
	clear:both;
	padding:0;
}
#wp-calendar caption {
	padding:0 0 10px;
}
#wp-calendar th, #wp-calendar td {
	text-align:center;
	background:rgba(0, 0, 0, .05);
	padding:5px;
}
#wp-calendar td {
	background:transparent;
}
#wp-calendar td, table#wp-calendar th {
	padding:3px 0;
}

/* Search */

.widget-container input.submit {
	margin-left:5px;
	float:left;
}

/* Comments */

#comments {
	position:relative;
	margin:15px 0 0;
}
.page #comments:before {
	margin-bottom:30px;
	content: '';
	width: 100%;
	height: 1px;
	background: #ddd;
	-webkit-box-shadow: 0 1px 0 0 #fff;
	box-shadow: 0 1px 0 0 #fff;
	display: block;
}
#comments .commentlist {
	padding-left:0px;
}
#comments h3 {
	color:#333;
	font-weight:normal;
	margin-bottom:20px;
}
#comments .comment.thread-even {
	background: #fafafa;
	background: rgba(0, 0, 0, 0.02);
	border-bottom:1px solid #ddd;
	border-bottom:1px solid rgba(0, 0, 0, 0.07);
}
#comments .comment {
	margin-top:10px;
	width:100%;
	list-style-type:none;
}
#comments .comment .comment-body {
	position:relative;
	padding: 20px;
}
#comments .comment-head {
	margin: 0 0 15px 0;
}
#comments .comment-author img {
	margin: 0;
	vertical-align: middle;
	border:1px solid #ddd;
	padding:3px;
	background:#f6f6f6;
	float:left;
	margin: 0 15px 5px 0;
}
#comments .comment-author cite {
	font-weight:bold;
}
#comments .comment-meta {
	font-size: 12px;
}
#comments .comment-entry p {
	margin: 0 0 10px 0;
}
#comments .reply {
	padding-top:10px;
}
#comments ul.children {
	margin:10px 10px 0 25px;
	padding:0;
}
#comments ul.children li {
	border-top:1px solid #ddd;
}
#comments .cancel-comment-reply {
	margin:10px 0;
}
#comments h3#pings {
	margin-top:25px;
}
#comments .pingbacks li.pingback {
	margin:10px 0;
}
#comments .pingbacks li.pingback .reply {
	display:none;
}

/* Comments Form */

#respond {
	position: relative;
}
#respond h3 {
	color:#333;
	font-weight:normal;
	padding-bottom:0;
}
#respond label {
	font-size:13px;
	color:#777;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	position: relative;
	padding: 5px;
	text-indent: 95px;
	top:0;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background:#eee;
	color: #555;
	display: inline-block;
	line-height:20px;
	padding:5px 15px;
	font-size: 12px;
	position: absolute;
	left: 1px;
	top: 1px;
	z-index: 1;
	min-width:60px;
}
#respond textarea {
	width: 95%;
	height:160px;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #3f98db;
	font-weight: bold;
	left: 67%;
	position: absolute;
	top: 5px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	z-index: 1;
	text-indent:5px;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
#respond input[type=text] {
	display: block;
	width: 68%;
	height:20px;
}
#respond p {
	font-size: 12px;
}
#commentform {
	margin: 15px 0 0 0;
}
#commentform input.txt, #commentform textarea {
	font:14px/14px Arial, Helvetica, sans-serif;
	border-color: #ccc #efefef #efefef #ccc;
	border-width:1px;
	border-style:solid;
}
#commentform input.txt {
	color:#666;
	background: #fcfcfc;
	width: 170px;
	margin: 0 5px 10px 0;
	padding: 5px 7px;
}
#commentform textarea {
	color:#666;
	background: #fcfcfc;
	width: 95%;
	padding: 5px 7px;
}
#commentform .form-allowed-tags {
	font-size:12px;
	color:#666;
}
#commentform #submit, .reply a, #searchsubmit {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 60%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#fafafa), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 2px 1px #fff;
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	padding:4px 8px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.reply a {font-size:11px; padding: 2px 6px;}

/* Pingbacks / Trackbacks */

h3#pings {
	margin: 25px 0 10px 0;
}
.pinglist li {
	margin: 0 0 0 20px;
	list-style-type: decimal;
}
.pinglist li .author {
	font-weight: bold;
	font-size: 15px;
}
.pinglist li .date {
	font-size: 11px;
}
.pinglist li .pingcontent {
	display: block;
	margin: 10px 0;
}

/* Search Form */

.error404 #searchform {
	margin-bottom:30px;
}

/* Contact Form 7 */
.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea{
	width: 50%;
	padding: 5px;
}

.wpcf7 input[type=submit] {
	padding: 5px 10px;
}

div.wpcf7-validation-errors {
	border: none !important;
	color: red;
	margin: 0 !important;
	padding: 0 !important;
}

div.div.wpcf7-response-output {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
div.wpcf7-mail-sent-ok {
	color:green;
	border: none !important;
}

/* Slideshow */
.portfolio .slideshow_container {
	margin-bottom: 10px
}

.portfolio .slideshow_container.with-buttons {
	margin-bottom: 50px
}

.portfolio .slideshow_container_style-light .slideshow_button {
	background:url(images/arrows.png);
	width:34px;
	height:55px;
	margin-top: -50px;
}

.slideshow_container_style-light .slideshow_previous {
	margin-left: -70px;
}

.portfolio .slideshow_container_style-light .slideshow_next {
	background-position: right top;
	margin-right: -70px;
}

.portfolio .slideshow_container_style-light .slideshow_transparent {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.portfolio .slideshow_container_style-light .slideshow_pagination ul li {
	background: url(images/bullets.png) right top;
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

.portfolio .slideshow_container_style-light .slideshow_pagination ul li.slideshow_currentView {
	background-position:left top;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.portfolio .slideshow_container_style-light .slideshow_pagination {
	bottom: -20px;
}

/* Clearfix */

.clear {
	clear:both;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}